/.env
/vendor
/node_modules
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.git
/.github
/docker
docker-compose*.yml
.gitignore
.gitattributes
*.md
.gitkeep
.phpunit*
.php_cs*
phpunit.xml*
